{{ $src := strings.TrimPrefix "/" (.Get "src") }}
{{ $link := strings.TrimPrefix "/" (.Get "link") | default $src }}
<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ $link | relURL }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ $src | relURL }}" alt="{{ .Get "alt" }}"{{ with .Get "title" }} title="{{ . }}"{{ end }}>
    {{- if .Get "link" }}</a>{{ end -}}
    {{- if .Get "caption" -}}
        <figcaption style="text-align: center;">{{ .Get "caption" | markdownify }}</figcaption>
    {{- end }}
</figure>
